= simple_form_for @branch, url: builds_path, method: :post do |f|
  = f.input :name, as: :select, collection: @configuration.branches
  = f.submit
%ul
  - @branches.each do |branch|
    %li
      %h3= branch.simple_name
      = link_to 'build now', build_now_branch_path(branch), method: :post
      %ul
        - branch.builds.order(created_at: :desc).take(5).each do |build|
          %li
            (#{build.id}) #{build.branch.simple_name} [#{build.state}] (ruby: #{build.ruby_version})
            %pre(style="display: none")=build.output
