-#= simple_form_for @branch, url: builds_path, method: :post do |f|
  = f.input :name, as: :select, collection: @configuration.branches
  = f.submit
%ul.branches
  - @branches.each do |branch|
    %li
      %h3= branch.simple_name
      = link_to 'build now', build_now_branch_path(branch), method: :post
      %ul.builds
        - branch.builds.order(created_at: :desc).take(5).each do |build|
          %li.collapsed(onclick="$(this).toggleClass('collapsed')")
            #{state_icon(build)} #{build.branch.simple_name} [#{build.state}] (ruby: #{build.ruby_version})
            %pre=build.output
